doctype html
html(lang="ru")
    head
        title Feedback
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel= "stylesheet", href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script
            include init_selectors.js

body
    nav(class="teal lighten-1", role="navigation")
        div(class="nav-wrapper container")
            a(class="brand-logo") Feedback

    form(action=action_url, method="post")
        div(class="container")
            div(class="section")
            each val in data
                h5(class="col s12")= val.question.text
                if val.question.type == "numeric"
                    select(name=val.question.id + ' ' + val.question.type)
                        - var n = 0;
                          while n < 10
                            option= ++n
                else
                    input(class="input-field col s6", type="text", placeholder="Ответ", name=val.question.id + ' ' + val.question.type)
                    br
                br

            h5(class="col s12") Ваши вопросы по занятию (каждый с новой строки)
            textarea(class="materialize-textarea col s6", type="text", placeholder="Ответ", name='0 questions')
            br

        div(class="row center")
            button(class="btn waves-effect waves-light", type="submit", name="action") Submit
                i(class="material-icons right") send

